@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: black;
}

.a {
  fill: #3de0e0
}


.red{
  fill: #e0603d
}
.circle1,.circle2_dashed,.circle3,.circle4,.circle5_dashed,.circle6,.circle7_dashed,.circle8_dashed_p1,.circle8_dashed_p2,.circle9_dashed>.a{
  fill: #e03daf !important;
  visibility: hidden;
}

.circle9_dashed {
   
      transform: rotateZ(80deg)!important;
      transform-origin: 50% 50%;
    
}

.temp {
  transform-origin: 50% 50%;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
